:root {
    --Light: #A0A4AD;
    --Highlight: #4C515C; 
    --Dark: #1C1F26;
    --Active: #262B36;
    --Active: #262B36;
    --Blue: #9CBBFF;
    --transition-duration: .2s
}



.default-btn {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: var(--Light);
    border-radius: 50%;
    background-color: var(--Dark);
    border: solid 1px;
    border-color: var(--Highlight);
    transition: background-color var(--transition-duration);
    cursor: pointer;
    outline: none;
}

.default-btn:focus-visible {
    background-color: var(--Active);
}

.default-btn:hover {
    background-color: var(--Active);
}

.default-btn:active {
    background-color: var(--Blue);
    color: var(--Dark);
}


.default-btn__menu-btn {
    width: 9rem;
    height: 9rem; 
    padding: 2.625rem; 
}

.default-btn__menu-btn:active svg path {
    stroke: var(--Dark);
    transition: stroke var(--transition-duration);
}


.default-btn__heart-btn {
    width: 6rem;
    height: 6rem;
    padding: 1.125rem; 
}

.default-btn__heart-btn:active svg path {
    fill: var(--Dark);
    transition: fill var(--transition-duration);
}


.default-btn__close-btn {
    width: 3rem;
    height: 3rem; 
    padding: 0;
    border: none;
}

.default-btn__close-btn:active svg path {
    fill: var(--Dark);
    transition: fill var(--transition-duration);
}
